Repository Dwsy/codemap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd client/src-tauri && rustfmt --, cd client/src-tauri && cargo clippy -- -D warnings -A clippy::uninlined_format_args

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.rs": [
    "cd client/src-tauri && rustfmt --",
    "cd client/src-tauri && cargo clippy -- -D warnings -A clippy::uninlined_format_args"
  ],
  "package.json": ["prettier --write"],
  "*.md": ["prettier --write"]
}

chore: 初始化项目依赖和配置
  .gitignore
  bun.lock
  package.json
Due: prettier --write

feat: 添加 CodeMap HTTP 服务器核心功能
  server/index.ts
  server/storage.ts
  server/types/index.ts
Due: eslint --fix, prettier --write

feat: 添加工具库和 Markdown 解析支持
  server/lib/markdown.ts
  server/lib/utils.ts
Due: eslint --fix, prettier --write

feat: 实现页面渲染功能
  server/pages/dashboard.ts
  server/pages/project.ts
  server/pages/view.ts
Due: eslint --fix, prettier --write

feat: 添加基础样式和脚本组件
  server/components/base/scripts.ts
  server/components/base/styles.ts
Due: eslint --fix, prettier --write

feat: 添加布局组件和 HTML 文档封装
  server/components/layout/header.ts
  server/components/layout/html-document.ts
  server/components/layout/sidebar.ts
Due: eslint --fix, prettier --write

feat: 添加视图渲染组件
  server/components/views/codemap-detail.ts
  server/components/views/codemap-inline.ts
Due: eslint --fix, prettier --write

feat: 添加卡片组件
  server/components/cards/codemap-card.ts
  server/components/cards/project-card.ts
Due: eslint --fix, prettier --write

feat: 添加 Lit 组合式组件 - CodeMapViewer
  server/components/lit/codemap-viewer.ts
Due: eslint --fix, prettier --write

docs: 添加项目文档和技能说明
  README.md
  SKILL.md
  assets/infographic.min.js
  docs/codemap/architecture.json
  docs/codemap/example-api-request-flow.json
  docs/codemap/example-login-flow.json
  docs/codemap/example-register-flow.json
Due: prettier --write

chore(deps): update project dependencies
  bun.lock
  package.json
Due: prettier --write

refactor(codemap-viewer): improve mermaid async rendering
  server/components/lit/codemap-viewer.ts
Due: eslint --fix, prettier --write

fix(scripts): resolve CodeMapViewer global access issues
  server/components/base/scripts.ts
Due: eslint --fix, prettier --write

style(styles): improve mermaid container styling
  server/components/base/styles.ts
Due: eslint --fix, prettier --write

refactor(html-document): optimize mermaid initialization
  server/components/layout/html-document.ts
Due: eslint --fix, prettier --write

docs(readme): update documentation for v2.0 refactoring
  README.md
Due: prettier --write

chore(gitignore): exclude temporary clipboard directory
  .gitignore
Due: none

docs(refactoring): add refactoring guide and task documentation
  REFACTORING_GUIDE.md
  REFACTORING_TASK.md
Due: prettier --write

refactor(server): 重构服务器架构，引入 API v1 路由和中间件
  server/index.ts
Due: eslint --fix, prettier --write

chore(deps): 更新依赖配置，添加测试数据脚本
  bun.lock
  package.json
Due: prettier --write

feat(server): 新增 API v1 模块和工具函数
  server/api/v1/codemaps.ts
  server/api/v1/files.ts
  server/api/v1/index.ts
  server/api/v1/projects.ts
  server/middleware/apiResponse.ts
  server/middleware/errorHandler.ts
  server/utils/markdown.ts
  shared/types/index.ts
Due: eslint --fix, prettier --write

feat(scripts): 新增测试数据生成脚本
  scripts/README.md
  scripts/add-test-data.ts
Due: eslint --fix, prettier --write

docs: 新增 API 文档和用户指南
  docs/API.md
  docs/USER_GUIDE.md
Due: prettier --write

docs: 新增项目阶段文档和任务清单
  HANDOVER.md
  INFOGRAPHIC_FIX.md
  PHASE1_COMPLETION_REPORT.md
  PHASE2_COMPLETION_REPORT.md
  PHASE2_TASKS.md
  PHASE3_COMPLETION_REPORT.md
  PHASE3_TASKS.md
  PHASE4_COMPLETION_REPORT.md
  PHASE5_COMPLETION_REPORT.md
  PHASE6_COMPLETION_REPORT.md
  PHASE6_TASKS.md
  PHASE7_COMPLETION_REPORT.md
  PHASE7_TASKS.md
  PHASE8_COMPLETION_REPORT.md
  PHASE8_TASKS.md
  PROJECT_SUMMARY.md
  verify-phase2.sh
Due: prettier --write

feat(codemap): enhance Monaco editor configuration and type support
  bun.lock
  client/bun.lock
  client/package.json
  client/src/components/code/CodeBrowser.vue
  client/src/components/code/CodeNodeLink.vue
  client/src/components/code/CodePanel.vue
  client/src/components/codemap/CodeMapViewer.vue
  client/src/components/codemap/TraceItem.vue
  client/src/components/codemap/TracesView.vue
  client/src/composables/useCodeDiff.ts
  client/src/composables/useCodeFormat.ts
  client/src/composables/useCodeSearch.ts
  client/src/composables/useMermaid.ts
  client/src/composables/useMonacoEditor.ts
  client/src/config/monacoThemes.ts
  client/src/config/monacoWorkers.ts
  client/src/env.d.ts
  client/src/main.ts
  client/src/router/index.ts
  client/src/stores/codeViewer.ts
  client/tsconfig.json
  client/vite.config.ts
  package.json
  server/lib/utils.ts
  shared/types/index.ts
Due: eslint --fix, prettier --write
